.formulario{
    display: flex;
    justify-content: center;
}

.formulario h2{
    padding: 12px;
}

.formulario form{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    background-color: var(--cinza);
    border-radius: 18px;
    padding: 36px 64px;
    box-shadow: 9px 8px 16px rgba(0, 0, 0, 0.6);
}

.formulario *{
    margin: 15px;
}