.container {
    padding: 0 0 1em 0;
    margin-top: .5em;
    width: 320px;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 12px #55ff00;
}

.container img{
    max-height: 300px;
}

.botoes{
    display: flex;
    justify-content: space-around;
}

.botoes button{
    cursor: pointer;
    border-radius: 5px;
}

.botoes button:hover{
    background-color: var(--preto);
    color: var(--branco);
}

.capa {
    width: 100%;
}

.container h2,
.favoritar {
    padding: 0 1em;
}

.favoritar {
    width: 25px;
}

.link {
    text-decoration: none;
    color: var(--preto);
    text-align: left;
}